#main {
	margin-top: 20px;

	.logo {
		font-size: 24pt;
	}

	.small_input {
		width: 20px;
	}

	.cart {
		font-weight: bold;
		font-size: 13pt;
		text-align: center;
		margin: 10px 0 10px;
	}

	#search input {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}