#main {
	margin-top: 20px;

	.logo {
		font-size: 24pt;
	}

	.small_input {
		width: 20px;
	}

	.cart {
		span {
			font-weight: bold;
			font-size: 13pt;
			margin: 10px auto 10px;
		}
		li {

		}
	}

	#search input {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}