<% products.each_slice(4) do |products_slice| %>
  <div class="row-fluid">
  	<% products_slice.each do |product| %>
	    <div class="span3">
	      <h3><%= product.name %></h3>
	      <p>Price: <%= product.price %></p>
	      <p><%= link_to "View details", product, class: 'btn' %></p>
	    </div>
    <% end %>
  </div>
<% end %>